/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        thumb_mod: thumb_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_MOD";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
        };

        homerow_left: homerow_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <500>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <100>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <39 40 41 36 37 38 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
        };

        homerow_right: homerow_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <500>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <100>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <36 37 38 39 40 41 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
        };

        tap_caps: tap_caps {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_CAPS";
            #binding-cells = <0>;
            bindings = <&sk RSHFT>, <&caps_word>;

            tapping-term-ms = <400>;
        };
    };

    macros {
        altctrl: altctrl {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &mo 5>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LCTRL &mo 5>;

            label = "ALTCTRL";
        };

        shiftaltctrl: shiftaltctrl {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHIFT &mo 5>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LCTRL &mo 5>;

            label = "SHIFTALTCTRL";
        };

        alttab: alttab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &mo 5>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LEFT_ALT &mo 5>;

            label = "ALTTAB";
        };

        shiftalttab: shiftalttab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHIFT &kp LEFT_ALT &mo 5>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LSHIFT &kp LEFT_ALT &mo 5>;

            label = "SHIFTALTTAB";
        };
    };

    combos {
        compatible = "zmk,combos";

        semicolon {
            bindings = <&kp SEMI>;
            key-positions = <7 19>;
            timeout-ms = <50>;
        };

        colon {
            bindings = <&kp COLON>;
            key-positions = <20 8>;
            timeout-ms = <50>;
        };

        forwardslash {
            bindings = <&kp SLASH>;
            key-positions = <31 19>;
            timeout-ms = <50>;
        };

        backslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <32 20>;
            timeout-ms = <50>;
        };

        quote {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <16 4>;
            timeout-ms = <50>;
        };

        doublequote {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <15 3>;
            timeout-ms = <50>;
        };

        special {
            bindings = <&sl 1>;
            key-positions = <0 11>;
            timeout-ms = <50>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp GRAVE   &kp Q  &kp W                     &kp F                  &kp P                       &kp B                  &kp J               &kp L                         &kp U                   &kp Y                       &none         &none
&kp DELETE  &kp A  &homerow_left LEFT_ALT R  &homerow_left LCTRL S  &homerow_left LEFT_SHIFT T  &kp G                  &kp M               &homerow_right RIGHT_SHIFT N  &homerow_right RCTRL E  &homerow_right RIGHT_ALT I  &kp O         &none
&kp CAPS    &kp Z  &kp X                     &kp C                  &kp D                       &kp V                  &kp K               &kp H                         &kp COMMA               &kp DOT                     &kp QUESTION  &none
                                             &kp LGUI               &thumb_mod 3 BACKSPACE      &thumb_mod 4 ESCAPE    &thumb_mod 6 ENTER  &thumb_mod 2 SPACE            &tap_caps
            >;
        };

        special {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "special";
            bindings = <
&kp TAB     &kp N1        &kp N2        &kp N3        &kp N4        &kp N5          &kp N6    &kp N7    &kp N8    &kp N9     &kp N0  &kp BSPC
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &trans  &trans
&kp LSHFT   &trans        &trans        &trans        &trans        &trans          &trans    &trans    &trans    &trans     &trans  &trans
                                        &kp LGUI      &trans        &kp SPACE       &kp RET   &trans    &kp RALT
            >;
        };

        symbol {
            bindings = <
&none  &kp DOLLAR  &kp FSLH  &kp MINUS      &kp CARET         &none    &none  &kp LBKT              &kp RBKT               &kp PIPE  &none  &none
&none  &kp HASH    &kp STAR  &kp PLUS       &kp EQUAL         &none    &none  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AMPS  &none  &none
&none  &kp AT      &kp EXCL  &kp PERCENT    &kp UNDER         &none    &none  &kp LEFT_BRACE        &kp RIGHT_BRACE        &none     &none  &none
                             &kp LESS_THAN  &kp GREATER_THAN  &none    &none  &none                 &none
            >;
        };

        nav {
            bindings = <
&trans  &kp PG_UP  &kp LC(LEFT_ARROW)  &kp UP_ARROW    &kp LC(RIGHT)  &trans       &trans  &kp LA(LEFT_ARROW)  &kp LA(RIGHT)  &shiftaltctrl  &altctrl  &trans
&trans  &trans     &kp LEFT_ARROW      &kp DOWN_ARROW  &kp RIGHT      &trans       &trans  &trans              &trans         &trans         &trans    &trans
&trans  &trans     &kp LC(X)           &kp LC(C)       &trans         &kp LC(V)    &trans  &shiftalttab        &alttab        &trans         &trans    &trans
                                       &trans          &trans         &trans       &trans  &kp TAB             &trans
            >;
        };

        num {
            bindings = <
&trans  &trans  &kp F7  &kp F8  &kp F9  &kp F10    &trans     &kp N7                         &kp N8                   &kp N9                             &kp STAR              &kp KP_DIVIDE
&trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11    &trans     &homerow_right RSHFT NUMBER_4  &homerow_right RCTRL N5  &homerow_right RIGHT_ALT NUMBER_6  &kp PLUS              &kp MINUS
&trans  &trans  &kp F1  &kp F2  &kp F3  &kp F12    &trans     &kp N1                         &kp N2                   &kp N3                             &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
                        &trans  &trans  &trans     &kp ENTER  &kp N0                         &trans
            >;
        };

        arrows_only {
            bindings = <
&trans  &trans  &trans    &kp UP    &trans     &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans    &trans    &trans     &trans    &trans  &trans  &trans  &trans  &trans  &trans
                          &trans    &trans     &trans    &trans  &trans  &trans
            >;
        };

        mouse {
            bindings = <
&trans  &trans  &msc SCRL_DOWN  &mmv MOVE_UP    &msc SCRL_UP     &trans       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans          &trans          &trans           &trans       &trans  &trans  &trans  &trans  &trans  &trans
                                &mkp MCLK       &mkp LCLK        &mkp RCLK    &trans  &trans  &trans
            >;
        };
    };
};
